<section class="container">
    <div class="row">
        <h1>Buy a house!</h1>
    </div>
</section>

<section class="container">
    <div class="row">
        <form class="bg-white p-3" onsubmit="app.HousesController.createHouse()">
            <div class="row">
                <div class="col-6">
                    <label for="">price</label>
                    <input type="text" class="form-control" placeholder="price" name="price">
                </div>
                <div class="col-6">
                    <label for="">Square Footage</label>
                    <input type="text" class="form-control" placeholder="sqft" name="sqft">
                </div>
                <div class="col-6">
                    <label for="">Bedrooms</label>
                    <input type="text" class="form-control" placeholder="beds" name="bedrooms">
                </div>
                <div class="col-6">
                    <label for="">Bathrooms</label>
                    <input type="text" class="form-control" placeholder="baths" name="bathrooms">
                </div>
                <div class="col-6">
                    <label for="">Year</label>
                    <input type="text" class="form-control" placeholder="year" name="year">
                </div>
                <div class="col-6">
                    <label for="">Image Url</label>
                    <input type="text" class="form-control" placeholder="URL" name="imgUrl">
                </div>
                <div class="col-12">
                    <label for="">Description</label>
                    <input type="text" class="form-control" placeholder="description" name="description">
                </div>
                <div class="col-12 mt-3">
                    <button class="btn btn-primary ">submit</button>
                </div>
            </div>
        </form>
    </div>
</section>

<section>
    <div id="houses-list" class="row">
        <!-- <div class="col-6 col-md-4">
            <div class="card">
                <img class="card-img-top"
                    src="https://imgs.search.brave.com/C1jJVeDvMSMF0Mm7--A0EvobuKX9kG-PnepTWOHuPR0/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTM2/OTA1Mzk1OS92ZWN0/b3IvaG91c2UuanBn/P3M9NjEyeDYxMiZ3/PTAmaz0yMCZjPWlB/N1lnbmJqTVQ4OU9E/OFdEdElOUG9ENnA0/LXNZLUdWcDFUdDBZ/ZGVxeEE9"
                    alt="">
                <div class="card-body">
                    <h3 class="card-title text-center text-primary">Price $000000</h3>
                    <h4 class="card-title">Square Ft: 0000</h4>
                    <p class="card-text">bed: 0, Bath: 0</p>
                    <p class="bg-primary p-2 rounded text-light fw-bold">Newly renovated mid-century modern home</p>
                    <p>Built: 0000</p>
                    <button>asdf</button>
                </div>
            </div>
        </div> -->
    </div>

</section>
<!-- <button onclick="app.CarsController.deleteHouse('${this.id}')" class="btn btn-danger"><i
        class="mdi mdi-delete"></i></button> -->